---
import "./Hero.css";
---

<section id="hero">
  <div class="row centered">
    <h2 class="typewriter">
      <div>Let's</div>
      <div>
        <p id="typeCursor" class="word">build</p>
        <p class="word">create</p>
        <p class="word">design</p>
        <p class="word">develop</p>
      </div>
      <div>together.</div>
    </h2>
  </div>
  <div id="logoSection" class="row centered">
    <img id="heroLogo" src="/src/images/Simple.svg" alt="Animated logo" />
  </div>
</section>
<script src="./logoAnimation.ts"></script>
<script src="./typeWriter.ts"></script>
