---
import "./themeSwitcher.css";
---

<>
  <label class="switch logo-size">
    <input type="checkbox" id="switchInput" class="no-spacing logo-size" />
    <svg class="slider logo-size">
      <circle id="switchLogo" class="dark-logo s-size"></circle>
    </svg>
  </label>
  <script src="./ThemeSwitcher.ts"></script>
</>
