:root {
    /* Colors */
    /* Dark Orange */
    --dark-primary: #ff8c00;
    /* Royal Gold */
    --primary: #f8d568;
    /* Floral White */
    --neutral: #fffaf0;
    /* Ivory Mist */
    --dark-neutral: #fff1cc;
    /* Dusty Denim */
    --seconday: #5d89ba;
    /* Space Indigo */
    --dark-secondary: #1d2951;
    /* Pastel Gray */
    --light-shadow: #ccc8c0;
    /*  Spanish Gray */
    --shadow: #999690;
    /* Eeerie Black */
    --font-color: #191918;

    /* Types */
    --title-font: 'Alumni Sans Variable', sans-serif;
    --title-size: x-large;
    --title-weight: 500;
    --nav-size: larger;
    --nav-weight: 500;
    --text-font: 'Lato', sans-serif;
    --text-size: medium;

    /* Spacing */

    /* Buttons */
    --button-border: 2px outset var(--font-color);
    --field-border: 1px outset var(--font-color);

    /* Inputs */

    /* Links */

    /* Cards */

    /* Animations */
    --basic-transition: all 1s ease-in-out;
}

@media (prefers-color-scheme: dark) {}

/* Basic Classes */

.no-spacing {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.global-padding {
    padding: 2rem;
}

.row {
    display: flex;
    width: 100%;
}

.column {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.space-around {
    justify-content: space-around;
}

.centered {
    justify-content: center;
    align-items: center;
}

.distribute {
    justify-content: space-evenly;
    align-items: center;
}

.m-padding {
    padding: 2rem;
}

.s-size {
    width: 1rem;
    height: 1rem;
}

.m-size {
    width: 2rem;
    height: 2rem;
}

.icon-size {
    width: 24px;
    height: 24px;
}

.s-gap {
    gap: .5rem;
}

.s-flex {
    flex: 1;
}

.m-flex {
    flex: 2;
}

.l-flex {
    flex: 3;
    flex-grow: 1;
}

.lgt-bg {
    background-color: var(--light-shadow);
}

.drk-bg {
    background-color: var(--shadow);
}

/* HTML */

a {
    text-decoration-line: none;
    color: var(--font-color);
}

ul {
    list-style-type: none;
}