:root {
    /* Colors */
    /* Dark Orange */
    --dark-primary: #ff8c00;
    /* Royal Gold */
    --primary: #f8d568;
    /* Floral White */
    --neutral: #fffaf0;
    /* Ivory Mist */
    --dark-neutral: #fff6df;
    /* Dusty Denim */
    --seconday: #5d89ba;
    /* Space Indigo */
    --dark-secondary: #1d2951;
    /* Pastel Gray */
    --light-shadow: #ccc8c0;
    /*  Spanish Gray */
    --shadow: #999690;
    /* Eeerie Black */
    --font-color: #191918;

    /* Types */
    --title-font: 'Alumni Sans Variable', sans-serif;
    --title-size: x-large;
    --title-weight: 500;
    --nav-size: larger;
    --nav-weight: 500;
    --text-font: 'Lato', sans-serif;
    --text-size: medium;

    /* Spacing */

    /* Buttons */
    --button-border: 2px outset var(--font-color);

    /* Inputs */

    /* Links */

    /* Cards */

    /* Animations */
    --basic-transition: all 1s ease-in-out;
}

@media (prefers-color-scheme: dark) {}

/* Basic Classes */

.no-spacing {
    margin: 0;
    padding: 0;
}

.global-padding {
    padding: 2rem;
}

.row {
    display: flex;
    width: 100%;
}

.column {
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
}

.centered {
    justify-content: center;
    align-items: center;
}

.distribute {
    justify-content: space-evenly;
    align-items: center;
}

.m-size {
    width: 2rem;
    height: 2rem;
}

.s-size {
    width: 1rem;
    height: 1rem;
}

/* HTML */

html {
    height: 100%;
}

body {
    position: relative;
    box-sizing: border-box;
    margin: 2rem;
    font-family: var(--text-font);
    background-color: var(--neutral);
    color: var(--font-color);
    background:
        radial-gradient(circle 4px, var(--dark-neutral) , transparent) round;
    background-size: 48px 48px;
    background-position: 24px 24px;
}

a {
    text-decoration-line: none;
    color: var(--font-color);
}
