body {
    font-family: 'Alumni Sans Variable', sans-serif;
    background-color: floralwhite;
    color: black;
    margin: 1.5rem;
}

h1 {
    font-weight: 500;
    letter-spacing: 32px;
    margin: 0;
}

a {
    text-decoration-line: none;
    color: black;
}

p {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

nav a {
    padding: .5rem 1rem;
    font-size: large;
    font-weight: 400;
    text-align: center;
    line-height: 32px;
    transition: all 1s ease-in-out;
}

nav a:hover {
    color: floralwhite;
    background-color: grey;
    transition: all 1s ease-in-out;
}

#switchContainer {
    padding: .5rem;
    width: 32px;
    height: 32px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
}

#switchInput {
    position: absolute;
    z-index: 2;
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    appearance: none;
    border: 2px outset black;
    border-radius: 50%;
}

.slider {
    position: absolute;
    width: 32px;
    height: 32px;
    z-index: 1;
    top: 0;
    left: 0;
}

#switchLogo {
    cy: 50%;
    r: 10;
    transition: 1s ease-in-out;
}

.darkLogo {
    cx: 65%;
    fill: black;
}

.lightLogo{
    cx: 50%;
    fill: yellow;
}

.row {
    display: flex;
    justify-content: space-between;
}

.demi {
    width: 50%;
    height: 80vh;
    display: flex;
}

.centered {
    justify-content: center;
    align-items: center;
}

.column {
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
}

#heroLogo {
    filter: drop-shadow(3px 12px grey) drop-shadow(3px 12px lightgrey);
    transition: 1s linear;
}

.animatedTitle {
    width: 10vw;
    font-size: large;
    padding: 1rem 1rem;
    transition: all 1s ease-in-out;
}

.animatedTitle:hover {
    width: 32vw;
    background-color: lightgray;
    transition: all 1s ease-in-out;
}