body {
    font-family: 'Alumni Sans Variable', sans-serif;
    background-color: floralwhite;
    color: black;
    margin: 1.5rem;
}

h1 {
    font-weight: 500;
    letter-spacing: 24px;
    margin: 0;
}

a {
    text-decoration-line: none;
    color: black;
}

p {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding: .5rem;
}

nav a {
    font-size: large;
}

.row {
    display: flex;
    justify-content: space-between;
}

.demi {
    width: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex-flow: column;

}

.filter-light-grey {
    filter: invert(80%)
}

.filter-grey {
    filter: invert(50%)
}

footer {

}