:root {
    /* Colors */
    /* Dark Orange */
    --dark-primary: #ff8c00;
    /* Royal Gold */
    --primary: #f8d568;
    /* Floral White */
    --neutral: #fffaf0;
    /* Dusty Denim */
    --seconday: #5d89ba;
    /* Space Indigo */
    --dark-secondary: #1d2951;
    /* Pastel Gray */
    --light-shadow: #ccc8c0;
    /*  Spanish Gray */
    --shadow: #999690;
    /* Eeerie Black */
    --font-color: #191918;

    /* Types */
    --title-font: 'Alumni Sans Variable', sans-serif;
    --title-size: x-large;
    --title-weight: 500;
    --nav-size: larger;
    --nav-weight: 500;
    --text-font: 'Lato', sans-serif;
    --text-size: large;

    /* Spacing */

    /* Buttons */
    --button-border: 2px outset var(--font-color);

    /* Inputs */

    /* Links */

    /* Cards */

    /* Animations */
    --basic-transition: all 1s ease-in-out;
}

@media (prefers-color-scheme: dark) {}

/* Basic Classes */

.no-spacing {
    margin: 0;
    padding: 0;
}

.centered {
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-between;
}

.column {
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
}

.m-s {
    width: 2rem;
    height: 2rem;
}


/* HTML */

body {
    font-family: 'Alumni Sans Variable', sans-serif;
    background-color: var(--neutral);
    color: var(--font-color);
    margin: 2rem;
}

h1 {
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    letter-spacing: 2rem;
}

h2 {
    font-size: var(--title-size);
    font-weight: var(--nav-weight);
}

a {
    text-decoration-line: none;
    color: var(--font-color);
}

header {
    display: flex;
    justify-content: space-between;
}

footer {
    position: fixed;
    bottom: 0;
    width: 90%;
}

/* Animated titles */

.animated-title {
    width: 10vw;
    font-size: large;
    padding: 1rem 1rem;
    transition: var(--basic-transition);
}

.animated-title:hover {
    width: 32vw;
    color: var(--neutral);
    background-color: var(--shadow);
    transition: var(--basic-transition);
}

#heroLogo {
    filter: drop-shadow(3px 12px 1px var(--shadow)) drop-shadow(3px 12px 2px var(--light-shadow));
    transition: var(--basic-transition);
}