:root {
    /* Colors */
    /* Dark Orange */
    --dark-primary: #ff8c00;
    /* Royal Gold */
    --primary: #f8d568;
    /* Floral White */
    --neutral: #fffaf0;
    /* Dusty Denim */
    --seconday: #5d89ba;
    /* Space Indigo */
    --dark-secondary: #1d2951;
    /* Pastel Gray */
    --light-shadow: #ccc8c0;
    /*  Spanish Gray */
    --shadow: #999690;
    /* Eeerie Black */
    --font-color: #191918;

    /* Types */
    --title-font: 'Alumni Sans Variable', sans-serif;
    --title-size: x-large;
    --title-weight: 500;
    --nav-size: larger;
    --nav-weight: 500;
    --text-font: 'Lato', sans-serif;
    --text-size: medium;

    /* Spacing */

    /* Buttons */
    --button-border: 2px outset var(--font-color);

    /* Inputs */

    /* Links */

    /* Cards */

    /* Animations */
    --basic-transition: all 1s ease-in-out;
}

@media (prefers-color-scheme: dark) {}

/* Basic Classes */

.no-spacing {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    width: 100%;
}

.column {
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
}

.centered {
    justify-content: center;
    align-items: center;
}

.distribute {
    justify-content: space-evenly;
    align-items: center;
}

.m-size {
    width: 2rem;
    height: 2rem;
}

.logo-size {
    width: 1.5rem;
    height: 1.5rem;
}

.s-size {
    width: 1rem;
    height: 1rem;
}

/* HTML */

body {
    font-family: var(--text-font);
    background-color: var(--neutral);
    color: var(--font-color);
    margin: 2rem;
}

h1 {
    font-family: var(--title-font);
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    letter-spacing: 2rem;
}

a {
    text-decoration-line: none;
    color: var(--font-color);
}

header {
    display: flex;
    justify-content: space-between;
}

footer {
    font-family: var(--title-font);
    position: fixed;
    bottom: 0;
    width: 90%;
}