---
import LogoSlider from "../animations/LogoSlider/LogoSlider.astro";

const stack = [
  { name: "html5", variant: "original" },
  { name: "css3", variant: "original" },
  { name: "javascript", variant: "original" },
  { name: "typescript", variant: "original" },
  { name: "react", variant: "original" },
  { name: "astro", variant: "original" },
  { name: "nodejs", variant: "original" },
  { name: "bun", variant: "original" },
];

const others = [
  { name: "python", variant: "original" },
  { name: "docker", variant: "original" },
  { name: "mongodb", variant: "original" },
  { name: "express", variant: "original" },
  { name: "redux", variant: "original" },
  { name: "tailwindcss", variant: "original" },
  { name: "bash", variant: "original" },
  { name: "saltProject", src: "SaltProject_Logomark_teal.png" },
  { name: "opencv", variant: "original" },
];
---

<section id="About">
  <h2>About</h2>
  <h3>Me</h3>
  <p>
    I am a passionate multidisciplinary professional specializing in crafting
    intuitive user experiences and robust web architectures.<br />By bridging
    the gap between aesthetic design and functional code, I deliver seamless
    end-to-end digital solutions. <br />I prioritize mobile-first, responsive
    design to ensure your website performs perfectly across all devices. <br />
    I transform complex business requirements into elegant, user-friendly applications
    that drive results.
  </p>
  <h3>Stack</h3>
  <p>
    My expertise spans modern frontend frameworks like React or Astro, ensuring
    dynamic and engaging user interfaces. <br />Every project is built with a
    focus on high-speed performance, accessibility, and modern SEO standards. <br
    />
    My workflow is centered on writing clean, maintainable code paired with minimalist
    and impactful design.<br /> On the backend, I architect scalable systems using
    Node.js, Python, and secure database management practices.<br />
  </p>
  <LogoSlider icons={stack} size={32} />
  <h3>But Also</h3>
  <p>
    I am curious and I like new technologies, which led me to discover and use
    other languages or tools than those usually used in web development. Last
    year, I was able to take an interest in computer vision and AI to build an
    embedded project on the web. I am also interested in cyber security and
    continue to train in this field.
  </p>
  <LogoSlider icons={others} size={32} />
  <h3 class="row centered">
    Let’s collaborate to transform your ideas into a powerful, high-performing
    digital reality.
  </h3>
</section>
