---
import TypeWriter from "../animations/TypeWriter/TypeWriter.astro";
import Simple from "../../images/Simple.svg"
const words = ["create", "design", "develop", "build"];
---

<style>
  #hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  #logoSection {
    height: 70vh;
  }

  #heroLogo {
    filter: drop-shadow(3px 12px 1px var(--shadow))
      drop-shadow(3px 12px 2px var(--light-shadow));
    transition: var(--basic-transition);
  }
</style>
<section id="hero">
  <div>
    <h2 class="typewriter">
      <div>Let's</div>
      <TypeWriter words={words} />
      <div>together.</div>
    </h2>
  </div>
  <div id="logoSection" class="row centered">
    <img id="heroLogo" src={Simple.src} alt="Animated logo" />
  </div>
</section>
<script src="../animations/MovingShadows/MovingShadows.ts"></script>
