---
import "./Navigation.css";
import ThemeSwitcher from "../ThemeSwitch/ThemeSwitcher.astro";
---

<nav>
  <div class="menu">
    <a href="#works" class="menu-title">Works</a>
    <div class="subMenu">
      <a href="#">Computer vision</a>
      <a href="#">Components</a>
      <a href="#">Experiments</a>
    </div>
  </div>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>
  <ThemeSwitcher />
</nav>
