---
import "@fontsource-variable/alumni-sans";
import "@fontsource/lato";
import "../styles/global.css";
import Header from "../layouts/Header.astro";
import Content from "../layouts/Content.astro";
import Footer from "../layouts/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/quaeres/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Quaeres</title>
  </head>
  <body>
    <Header />
    <Content />
    <Footer />
  </body>
</html>
