---
const year = new Date().getFullYear();
---

<footer>
    <p>Quaeres { year }</p>
    <a href="/legal">Legal</a>
    <a href="privacy">Privacy policy</a>
    <a href="cookie">Cookie policy</a>
</footer>