---
import Social from "./Social.astro";
const year = new Date().getFullYear();
---

<footer>
    <div class="row">
        <Social platform={"github"} username={"quaeres"} />
        <Social platform={"linkedin"} username={"quaeres"} />
        <Social platform={"reddit"} username={"quaeres"} />
        <!-- TODO: add thangs.fr + check react icons-->
    </div>
    <div class="row">
        <p class="no-spacing">Quaeres { year }</p>
        <a href="/legal">Legal</a>
        <a href="/privacy">Privacy policy</a>
        <a href="/cookie">Cookie policy</a>
    </div>
</footer>