---

---

<div class="row">
  <div class="demi">
    <svg id="logo" width="144" height="270" xmlns="http://www.w3.org/2000/svg">
      <image href="/src/images/Simple.svg" y="30" class="filter-light-grey" />
      <image href="/src/images/Simple.svg" y="15" class="filter-grey" />
      <image href="/src/images/Simple.svg" />
    </svg>
  </div>
  <div class="demi column">
    <a href="">Computer vision</a>
    <a href="">Creative coding</a>
    <a href="">Webdesign</a>
    <a href="">Typography</a>
  </div>
</div>
