---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import ThemeSwitcher from "./ThemeSwitcher.astro";
//TODO:
// smooth scroll spa
// insert ghp
// responsive

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<style>
  nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: var(--title-font);
  }

  #burger {
    position: relative;
    display: flex;
    flex-flow: column;
    transition: var(--basic-transition);
  }

  #burger span {
    width: 85%;
    position: absolute;
    border: var(--button-border);
    background-color: var(--font-color);
    height: 1px;
    top: 45%;
    transition: var(--basic-transition);
  }

  #burger span:first-of-type {
    top: 10%;
  }

  #burger span:last-of-type {
    top: 75%;
  }

  #burger input:checked ~ span:first-of-type {
    top: 45%;
    transform: rotate(45deg);
  }

  #burger input:checked ~ span:nth-child(3) {
    opacity: 0;
  }

  #burger input:checked ~ span:last-of-type {
    top: 45%;
    transform: rotate(-45deg);
  }

  #burger:has(input:checked) + ul {
    left: 10%;
  }

  #burgerCheckbox {
    opacity: 0;
  }

  #menu {
    overflow-x: hidden;
    max-width: 80%;
    display: flex;
    position: absolute;
    flex-flow: row;
    align-items: center;
    gap: 1rem;
    background-color: var(--light-shadow);
    top: 5rem;
    left: -100%;
    transition: all 2s;
  }

  #menu li {
    list-style: none;
  }

  #menu a {
    width: 5rem;
    font-size: var(--nav-size);
    transition: var(--basic-transition);
  }

  #menu a:hover {
    color: var(--neutral);
    background-color: var(--shadow);
    transition: var(--basic-transition);
  }

  .sub-menu {
    display: none;
  }
</style>
<nav>
  <label id="burger" for="burgerCheckbox" class="icon-size">
    <input id="burgerCheckbox" type="checkbox" class="no-spacing icon-size" />
    <span></span>
    <span></span>
    <span></span>
  </label>
  <ul id="menu" class="no-spacing row space-around">
    <li>
      <a href="#about">{t('nav.about')}</a>
    </li>
    <li class="menu-list">
      <a href="#projects">{t('nav.projects')}</a>
      <ul class="sub-menu no-spacing">
        <li>
          <a href="#computervision">{t('nav.cv')}</a>
        </li>
        <li>
          <a href="#components">{t('nav.components')}</a>
        </li>
        <li>
          <a href="#experiments">{t('nav.experiments')}</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#contact">{t('nav.contact')}</a>
    </li>
  </ul>
  <ThemeSwitcher />
</nav>
