---

---

<nav>
  <a href="/works">Works</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>
  <div id="switchContainer">
    <label class="switch">
      <input type="checkbox" id="switchInput" />
      <svg class="slider">
        <circle id="switchLogo" class="darkLogo"></circle>
      </svg>
    </label>
  </div>
</nav>

<script>
  const switchInput = document.getElementById("switchInput") as HTMLInputElement | null;
  const switchLogo = document.getElementById("switchLogo");
  switchInput?.addEventListener("click", () => {
    if(switchInput?.checked){
      console.log(switchInput.checked)
      // Light mode to dark mode
      switchLogo?.classList.replace('darkLogo', 'lightLogo');
    }else {
      // dark mode to light mode
      switchLogo?.classList.replace('lightLogo', 'darkLogo');
    }
  });
</script>
