---
import {FaGithub, FaLinkedinIn, FaReddit} from 'react-icons/fa';
const { platform, username } = Astro.props;

const getLogo = (platform: String) => {
  const logoName = "<Fa" + platform.charAt(0).toUpperCase() + platform.slice(1) + "/>";
  console.log(logoName)
  return logoName;
};
---

<a href={`https://www.${platform}.com/${username}`}><FaGithub /></a>
