---
import { FaCode, FaGithub, FaLinkedin, FaReddit } from "react-icons/fa";
import { SiKofi } from "react-icons/si";
const { platform, username } = Astro.props;
const logos = [
  {
    name: "thang.fr",
    icon: FaCode,
  },
  {
    name: "github",
    icon: FaGithub,
  },
  {
    name: "linkedin",
    icon: FaLinkedin,
  },
  {
    name: "reddit",
    icon: FaReddit,
  },
  {
    name: "ko-fi",
    icon: SiKofi,
  }
];
---

<a href={`https://www.${platform}.com/${username}`} class="row s-gap">
{
    logos.map((item) => {
      return (
        <>
          {item.name === platform ? 
          <item.icon /> 
          <p class="no-spacing">{item.name.charAt(0).toUpperCase() + item.name.slice(1)}</p>
          : null}
        </>
      );
    })
  }
</a>
