---
import Base from "../../layouts/Base.astro";
import Header from "../../layouts/Header.astro";
import Hero from "../../layouts/Hero.astro";
import About from "../../layouts/About.astro";
import Projects from "../../layouts/Projects.astro"
import Footer from "../../layouts/Footer.astro";
---

<Base>
  <Header />
  <main class="m-padding">
    <Hero />
    <About />
    <Projects />
  </main>
  <Footer />
</Base>