#contact {
    font-size: large;
}

#contact h3 {
  margin: .5rem 0;  
}

#contact label{
    display: none;
}

#contactForm {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 60%;
    gap: 1rem;
}

#contactName,
#contactEmail {
    width: 47.5%;
    padding: .5rem 0;
}

#contactMessage {
    width: 100%;
    height: 5rem;
}

#contactSend {
    padding: .25rem 0;
    width: 30%;
}
/*TODO: set button