---

---

<style>
  #contact {
    font-size: large;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: .3rem;
    width: 100%;
  }

  #contact label {
    display: none;
  }

  input, textarea {
    width: 80%;
  }

  #contactName,
  #contactEmail {
    padding: 0.3rem 0;
  }

  #contactMessage {
    height: 5rem;
  }

  #contactSend {
    padding: 0.25rem 1.25rem;
    margin-bottom: 1rem;
  }

  /*TODO: set button*/
</style>
<>
  <form id="contact" name="contact form">
    <label for="contactName"></label>
    <input
      type="text"
      id="contactName"
      name="contact name"
      placeholder="Name"
      required
    />
    <label for="contactEmail"></label>
    <input
      type="email"
      id="contactEmail"
      name="contact email"
      placeholder="Email@mail.com"
      required
    />
    <label for="contactMessage"></label>
    <textarea
      name="message"
      id="contactMessage"
      placeholder="Type your message here !"
      required></textarea>
    <button id="contactSend" type="submit">Send</button>
  </form>
</>
