nav {
    font-family: var(--title-font);
    display: flex;
    justify-content: space-between;
    width: 50%;
}

nav a {
    padding: 0 2rem;
    font-size: var(--nav-size);
    text-align: center;
    line-height: 2rem;
    transition: var(--basic-transition);
}

nav a:hover {
    color: var(--neutral);
    background-color: var(--shadow);
    transition: var(--basic-transition);
}

.menu {
    overflow: hidden;
    position: relative;
}

.menu:hover {
    overflow: visible;
}

.menu a {
    display: flex;
    justify-content: center;
    min-width: 6rem;
    white-space: nowrap;
}

.subMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 2rem;
    transition: var(--basic-transition);
}