---
import Hero from "../components/content/Hero.astro";
import About from "../components/content/About.astro";
import Works from "../components/content/Works.astro";
---

<main class="m-padding">
  <Hero />
  <About />
  <Works />
</main>
