---
import Social from "../components/footer/Social.astro";
import Contact from "../components/footer/Contact.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import LaguagePicker from "../components/footer/LaguagePicker.astro";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const year = new Date().getFullYear();
---

<style>
  footer {
    width: 100%;
    display: flex;
    flex-flow: row-reverse wrap;
    font-family: var(--title-font);
  }

  footer div {
    flex: 1;
  }

  h4 {
    margin: 0.5rem;
  }

  #contact {
    flex-basis: 450px;
  }

  .fix-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
</style>
<footer class="lgt-bg">
  <div id="contact" class="column drk-bg">
    <h4>Contact</h4>
    <Contact />
  </div>
  <div class="column s-gap">
    <h4>{t('foo.follow')}</h4>
    <div class="column s-gap">
      <Social platform={"thang.fr"} username="" />
      <Social platform={"ko-fi"} username={"9nvh2"} />
      <Social platform={"github"} username={"quaeres"} />
      <Social platform={"reddit"} username={"quaeres"} />
    </div>
  </div>
  <div class="column s-gap">
    <h4>Ressources</h4>
    <a href="#legal">{t('foo.legal')}</a>
    <a href="#privacy">{t('foo.privacy')}</a>
    <a href="#cookie">{t('foo.cookie')}</a>
    <LaguagePicker />
  </div>
  <p class="no-spacing fix-bottom">Quaeres {year}</p>
</footer>
