---
import Navigation from "../components/header/Navigation.astro";
import Logo from "../images/Quaeres.svg";
---

<style>
  h1 {
    font-family: var(--title-font);
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    letter-spacing: 2rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 32px;
    height: 32px;
  }

  @media screen and (min-width: 600px) and (max-width: 1024) {
    .logo {
      width: 64px;
      height: 64px;
    }
  }

  @media screen and (min-width:1000){
    .logo{
      display: none;
    }
  }
</style>
<header class="m-padding">
  <a href="/">
    <h1 class="no-spacing hidden">QUAERES</h1>
    <Logo class="logo" />
  </a>
  <Navigation />
</header>
